<%- include("../partials/dashboard-skeleton.ejs") %>

<div id="main-content">        
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-12">
                        <h2>Chat</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Oculux</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Messages</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12">                    
                    <div class="card">
                        <div class="body">
                            <div class="chatapp_list">
                                <div class="input-group mb-3">
                                    <input type="text" id="chat-user-search" class="form-control" placeholder="Search...">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="icon-magnifier"></i></span>
                                    </div>
                                </div>
                                <ul id="chat_users" class="right_chat list-unstyled mb-0">                                
                                    
                                </ul>
                            </div>
                            <div id="chatapp_body" class="chatapp_body">
                                <div class="chat-header clearfix">
                                    <div class="row clearfix">
                                        <div class="col-lg-12">
                                            <div class="chat-about">
                                                <h6 id="chatapp_current_chat_name" class="m-b-0"></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="chat-history" id="chat-history-container" style="min-height: 300px; max-height: 500px; overflow-y: auto">
                                    <ul class="message_data" id="message-data">
                                        
                                    </ul>
                                </div>
                                <div class="chat-message clearfix">
                                    <div class="input-group mb-0">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <a href="javascript:void(0);" class="btn btn-link"><i class="icon-camera text-warning"></i></a>
                                                <a href="javascript:void(0);" class="btn btn-link"><i class="icon-camcorder text-warning"></i></a>
                                            </span>
                                        </div>
                                        <textarea type="text" style="resize: none;" row="" id="chat-message-text" class="form-control" placeholder="Enter text here..."></textarea>
                                        <button id="chat-submit-btn" class="btn btn-info">Submit</button>
                                    </div>
                                </div>
                            </div>
                            <div id="chatapp_detail" class="chatapp_detail text-center vivify pullLeft delay-150">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/assets/bundles/libscripts.bundle.js"></script>    
<script src="/static/assets/bundles/vendorscripts.bundle.js"></script>
<script src="/static/assets/bundles/mainscripts.bundle.js"></script>
<script src="/static/assets/vendor/toastr/toastr.js"></script>
<script src="/static/assets/js/common2.js"></script>
<script src="/static/assets/vendor/moment/moment.min.js"></script>
<script src="/static/assets/vendor/socketio/socket.io.min.js"></script>
<script src="/static/assets/js/socketFunctions.js"></script>