<%- include("../partials/dashboard-skeleton.ejs") %>

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-12">
                        <h2>Inbox</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Oculux</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Compose Mail</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card">
                        <div class="mail-inbox">
                            <div class="mobile-left">
                                <a href="javascript:void(0);" class="btn btn-primary toggle-email-nav"><i class="fa fa-bars"></i></a>
                            </div>
                            <div class="body mail-left">
                                <div class="mail-side">
                                    <ul class="nav">
                                        <li id="mail-inbox-btn" ><a href="/email?filter=inbox"><i class="icon-drawer"></i>Inbox<span class="badge badge-primary float-right">6</span></a></li>
                                        <li id="mail-sent-btn"><a href="/email?filter=sent"><i class="icon-cursor"></i>Sent<span class="badge badge-warning float-right">6</span></a></li>
                                        <li id="mail-draft-btn"><a href="/email?filter=draft"><i class="icon-envelope-open"></i>Draft</a></li>
                                        <li id="mail-trash-btn"><a href="/email?filter=trash"><i class="icon-trash"></i>Trash</a></li>
                                    </ul>
                                    <h3 class="label">Labels</h3>
                                    <ul class="nav">
                                        <li><a href="javascript:void(0);"><i class="fa fa-circle-o text-danger"></i>Workshop</a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-circle-o text-info"></i>Private</a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-circle-o text-dark"></i>Paypal</a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-circle-o text-primary"></i>Comapny</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="body mail-right check-all-parent">
                                <div id="mail-compose-div" class="mail-compose">
                                    <form>
                                        <div class="form-group">
                                            <input type="email" id="email-compose-to" class="form-control" placeholder="To email: ">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="email-compose-subject" class="form-control" placeholder="Subject: ">
                                        </div>
                                    </form>
                                    <div id="email-summernote">
                                        Hello!,
                                        <br/>
                                        <br/>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock,</p>
                                        <p><strong>Note:</strong> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        <ul>
                                            <li>New code update on GitHub</li>
                                            <li>There are many variations of passages of Lorem Ipsum available</li>
                                        </ul>                                        
                                        <span><strong>Thank you!</strong></span>
                                        <p>Oculux Admin</p>
                                    </div>
                                    <div class="m-t-30 text-right">
                                        <button type="button" id="email-submit-btn" class="btn btn-success btn-round">Send Message</button>
                                        <button type="button" id="email-draft-btn" class="btn btn-outline-secondary btn-round">Draft</button>
                                        <a href="/email" class="btn btn-outline-secondary btn-round">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script src="/static/assets/bundles/libscripts.bundle.js"></script>    
<script src="/static/assets/bundles/vendorscripts.bundle.js"></script>
<script src="/static/assets/vendor/toastr/toastr.js"></script>
<script src="/static/assets/js/common2.js"></script>
